<%= form_for(@action_plan) do |f| %>
    <% if @action_plan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@action_plan.errors.count, "error") %> prohibited this action_plan from being saved:</h2>

          <ul>
            <% @action_plan.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field col-md-offset-3 col-md-7 field text-center" style="right: 4%">
      <div class="col-md-3">
        <strong><%= f.label :first_name %></strong><br>
        <%= f.text_field :submitter_first_name %>
      </div>
      <div class="col-md-3">
        <strong><%= f.label :last_name %></strong><br>
        <%= f.text_field :submitter_last_name %>
      </div>
      <div class="col-md-3">
        <strong><%= f.label :title %></strong><br>
        <%= f.text_field :submitter_title %>
      </div>
    </div>
    <br>
    <br>
    <div class="field col-md-12 field text-center" style="right: 1%">
      <p>
      <strong><%= f.label :unit %></strong><br>
      <%# f.text_field :unit %>
      <%= f.collection_select :unit_id, Unit.all, :id, :unit, prompt: true %>
      <br>
      <strong><%= f.label :date_of_site_visit %></strong>
      <script>
          $(function() {
              $( "#date_of_site_visit_picker" ).datepicker({
                  dateFormat: "yy-mm-dd"
              });
          });
      </script>
      <input type="text" id="date_of_site_visit_picker" name="action_plan[date_of_site_visit]" value="">
      </p>
      <br>
      <br>
      <p>
      <strong><%= f.label :submission_or_update %>&nbsp&nbsp&nbsp&nbsp</strong>
      <%= f.label :submission_or_update, "Submission", :value => "submission"  %>
      <%= f.radio_button :submission_or_update, "Submission", {:checked => true} %>
      <%= f.label :submission_or_update, "Update", :value => "update" %>
      <%= f.radio_button :submission_or_update, "Update" %>
      </p>
      <p>
        <strong><%= f.label :submission_or_update_date %></strong>
      <script>
          $(function() {
              $( "#submission_or_update_date_picker" ).datepicker({
                  dateFormat: "yy-mm-dd"
              });
          });
      </script>
      <input type="text" id="submission_or_update_date_picker" name="action_plan[submission_or_update_date]" value="">
      </p>
      <br>
      <br>
      <div class="actions">
      <%= f.submit %>
      </div>
      </p>
    </div>
<% end %>


